$background: #F2F0F9;
$primary: #F4F2FF;
$secondary: #6d5bd0;

//Status Paid
$lightGreen: #CDFFCD;
$darkGreen: #007F00;

//Status Overdue
$lightRed:  #FFE0E0;
$darkRed: #D30000;

//Status Overdue
$bgBrown:  #FFECCC;
$lightBrown: #CE8500;
$darkBrown: #CE8500;
