@import "/src/styles/variables";
@import "/src/styles/mixins";

.input{
    width: 100%;
    padding: 12px 17px;
    background-color: $primary;
    border-radius: 6px;
    @include setStyleText(400, 12px, 15px, #000);

    &::-webkit-input-placeholder{
        @include setStyleText(400, 12px, 15px, #6E6893);
    }

    &::-moz-placeholder{
        @include setStyleText(400, 12px, 15px, #6E6893);
    }
}